.table--wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

}

.table--content {
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 6px;
    background: #fff;
}

.table--content:last-child{
    margin-bottom: 4rem;
}

.table-title {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: 800;
}

.table-label {
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
}
.table--top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;    
    background: #348BCD;
    height: 1rem;
}

.table--cel {
    display: flex;
    justify-content:space-between;
    margin: .2rem
}

.table--cels-wrapper{
    padding: 1rem;
}