.login-form {
    max-width: 350px;
}
.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    margin-top: 3rem;
}
.options {
    margin-top: -1.3rem;
}

.auth-wrapper {
    width: 100%;
    height: 100vh;
}

.signup-content {
    width: 100%;
}

.align--center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.login-wrapper {
    width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    padding-top: 50px;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

.login-title {
    color: #03406F;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.signup-wrapper {
    width: 90%;
    border-radius: 15px;
}

.login-link {
    margin-left: 1rem;
}

.steps-content {
    margin-top: 16px;
    border-radius: 6px;
    background-color: #fff;
    min-height: 200px;
    padding-top: 80px;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 5rem;
  }
  
  .steps-action {
    margin-top: 24px;
  }

.stepper-head {
    border-radius: 6px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}