.dashboard--wrapper {
}

.graph--wrapper {
    text-align: center;
    width: 300px;
    margin: 4rem;
}

.graph--info {
    display: flex;
}

.pay {
    height: 1rem;
    width: 1rem;
    background: #FE0006
}

.receive {
    height: 1rem;
    width: 1rem;
    background: #0AC400
}

.graph-detail {
    display: flex;
    margin: .5rem
}

.graph-detail label {
    padding-left: 5px;
}