.services-step-content {
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    background-color: #fff;
    min-height: 200px;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 1rem;
}
.services-step-content:last-child {
    margin-bottom: 3rem;
}
.date {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.date-item {
    margin-bottom: 1rem;
}

.date-wrapper {
    width: 100%;
    margin-top: 1rem;
}

.service-register--title {
    font-family: 'Open Sans', sans-serif;
    color: #05487B;
    font-weight: 400;
    font-size: 1.2rem;
}

.service--controls {
    padding-bottom: 2rem;
}

.register--content {
    width: 95%;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.fill {
    display: flex;
    justify-content: center;
    text-align: center;
}