.menu--wrapper {
    height: 100vh;
    background: #348BCD;
    z-index: 99;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.span--welcome, .span--name {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300; 
}

.span--welcome {
    margin-left: 10px;
}
.dot {
    height: 32px;
    width: 32px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.menu--top {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
}
.menu--wrapper ul {
    padding: 0;
    height: 76%;
    width: 100%;
    display: flex;
    background: #348BCD;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.menu--wrapper li, .menu--wrapper a {
    list-style: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
	padding-right: 1rem;
    font-weight: 400; 
    padding: 1rem;
}

.menu--wrapper li:hover, .menu--wrapper a:hover {
    color: #085794;
}

.menu--bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
}
.menu--bottom a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300; 
    margin-left: 10px;
}