.report-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.report-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #03406F;
}

.report-controls {
    display: flex;
    flex-flow: column nowrap;
}

.space {
    margin-top: 2rem;
}