.app--wrapper {
	width: 100%;
	display: flex;
}
.app--content {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}
.top--wrapper {
	width: 100%;
	height: 60px;
	background: #348BCD;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.12);
}
.menu--top-icon {
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.title-top {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding-right: 1rem;
	font-weight: 300;  
}

.btn-menu {
	margin-left: 1rem;
	margin-top: .5rem;
}

.menu-fix {
	width: inherit;
}