.emp--wrapper {
    background: #fff;
}

.emp--table {
    padding-top: 2rem;
    background: #fff;
}
.emp-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

.register--wrapper {
    background:#fff;
}


.ant-btn-lg {
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 4px;
}

.button-wrapper {
    width: 100%;
}

.report-controls {
    width: 80%;
}

.ant-btn-danger {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}

.btn-space--table {
    height: 10px;
}

.space {
    padding-top: 2rem;
}